<div class="col two_cols fr">
    {{ inv_f.date_created.label_tag }}
    {{ inv_f.date_created }}
    <br />
    {{ inv_f.date_sale.label_tag }}
    {{ inv_f.date_sale }}
    <br />
    <label for="id_date_payment">Termin zapłaty: (+21 dni)</label>
    {{ inv_f.date_payment }}
    <label class="bold" for="id_currency">Waluta:</label>
    {{ inv_f.currency }}
    <br />
    {{ inv_f.payment_type.label_tag }}
    {{ inv_f.payment_type }}
    <br />
</div>
<div class="col two_cols fl">
    <label class="bold" for="id_key">Numer faktury VAT:</label>
    {{ inv_f.key }}
    <br />
    <label for="7">Rodzina/Klient:</label>
    {{ inv_f.customer_content_type }}
    {{ inv_f.customer_object_id }}
    <br />
    <label for="8">Wybrane dane:</label>
    <table class="client_data">
        <tr>
            <td><textarea class="chosen_data" id="8" ></textarea></td>
            <td><a class="add_new_client" href="#" >Dodaj rodzinę/klienta</a></td>
        </tr>
    </table>
</div>
<div class="goods">
    <table class="invoice-items">
        <thead>
            <tr>
                <td class="commodity">
                    <p>TOWAR/USŁUGA</p>
                </td>
                <td class="medium">
                    PKWiU
                </td>
                <td class="very"><p>J.M.</p></td>
                <td class="very_small"><p>ILOŚĆ</p></td>
                <td class="medium"><p>CENA NETTO</p></td>
                <td class="medium"><p>WARTOŚĆ NETTO</p></td>
                <td class="medium"><p>STAWKA VAT</p></td>
                <td class="medium"><p>KWOTA VAT</p></td>
                <td class="medium"><p>WARTOŚĆ BRUTTO</p></td>
                <td class="very_small delete_commodity"><p></p></td>
            </tr>
        </thead>
        <tbody>
            {% for inv_formset_form in inv_formset.forms %}
            <tr>
                <td class="commodity">
                    {{ inv_formset_form.name }}
                    <div class="ct">{{ inv_formset_form.product_content_type }}</div>
                    <div class="oid">{{ inv_formset_form.product_object_id }}</div>
                </td>
                <td class="medium">
                    {{ inv_formset_form.class_code}}
                </td>
                <td class="small unit">
                    {{ inv_formset_form.unit }}
                </td>
                <td class="very_small quantity">
                    {{ inv_formset_form.quantity }}
                </td>
                <td class="medium net_price">
                    {{ inv_formset_form.net_price }}
                </td>
                <td class="medium left_border net_value">
                    <input type="text" name="15" id="15" value="" class=""  />
                </td>
                <td class="medium left_border tax">
                    {{ inv_formset_form.tax }}
                </td>
                <td class="medium left_border taxval">
                    <input type="text" name="17" id="17" value="" class=""  />
                </td>
                <td class="medium left_border gross">
                    <input type="text" name="18" id="18" value="" class=""  />
                </td>
                <td class="very_small delete_commodity">
                    <a href="#" class="delete_commodity">X</a>
                    {{ inv_formset_form.DELETE }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="no_borders"><a href="#" class="button fl add_new_product">Dodaj nowy produkt</a></td>
                <td class="no_borders"></td>
                <td class="no_borders"></td>
                <td colspan="2"><span class="head">Razem:</span></td>
                <td class='net_sum'>3600</td>
                <td>-</td>
                <td class='tax_sum'>0,00</td>
                <td class='gross_sum' colspan="2">3600</td>
            </tr>
            <tr>
                <td class="no_borders"></td>
                <td class="no_borders"></td>
                <td class="no_borders"></td>
                <td colspan="2">W tym:</td>
                <td>3600</td>
                <td><span class="head">ZW.</span></td>
                <td>0,00</td>
                <td colspan="2">3600</td>
            </tr>
            <tr class="total_cost">
                <td colspan="3" class="no_borders"></td>
                <td colspan="7">
                    <p>RAZEM DO ZAPŁATY: 0,00 EURO</p>
                </td>
            </tr>
        </tfoot>
    </table>
    
    {{ inv_formset.management_form }} 
    <table class="empty">
        <tr>
            <td class="commodity">
                {{ inv_formset.empty_form.name }}
                <div class="ct">{{ inv_formset.empty_form.product_content_type }}</div>
                <div class="oid">{{ inv_formset.empty_form.product_object_id }}</div>
            </td>
            <td class="medium">
                {{ inv_formset.empty_form.class_code}}
            </td>
            <td class="small unit">
                {{ inv_formset.empty_form.unit }}
            </td>
            <td class="very_small quantity">
                {{ inv_formset.empty_form.quantity }}
            </td>
            <td class="medium net_price">
                {{ inv_formset.empty_form.net_price }}
            </td>
            <td class="medium left_border net_value">
                <input type="text" name="15" id="15" value="" class=""  />
            </td>
            <td class="medium left_border tax">
                {{ inv_formset.empty_form.tax }}
            </td>
            <td class="medium left_border taxval">
                <input type="text" name="17" id="17" value="" class=""  />
            </td>
            <td class="medium left_border gross">
                <input type="text" name="18" id="18" value="" class=""  />
            </td>
            <td class="very_small delete_commodity">
                <a href="#" class="delete_commodity">X</a>
                    {{ inv_formset.empty.DELETE }}
            </td>
        </tr>
    </table>
</div>
